<%= form_with(model: alumno) do |form| %>
  <% if alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumno.errors.count, "error") %> prohibited this alumno from being saved:</h2>

      <ul>
        <% alumno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :matricula %></br>
    <%= form.text_field :matricula %>
  </div>

  <div class="field form-group">
    <%= form.label :nombre %></br>
    <%= form.text_field :nombre %>
  </div>

  <div class="field form-group">
    <%= form.label :correo %></br>
    <%= form.text_field :correo %>
  </div>

  <div class="field form-group">
    <%= form.label :telefono %></br>
    <%= form.text_field :telefono %>
  </div>

  <div class="field form-group">
    <%= form.label :periodo_actual %></br>
    <%= form.text_field :periodo_actual %>
  </div>

  <div class="field form-group">
    <%= form.label :porcentaje_beca %></br>
    <%= form.text_field :porcentaje_beca %>
  </div>

  <div class="field form-group">
    <%= form.label :nivel %></br>
    <%= form.text_field :nivel %>
  </div>

  <div class="field form-group">
    <%= form.label :unidades_permitdas_a_inscribir %></br>
    <%= form.text_field :unidades_permitdas_a_inscribir %>
  </div>

  <div class="field form-group">
    <%= form.label :promedio_acomulado %></br>
    <%= form.text_field :promedio_acomulado %>
  </div>

  <div class="field form-group">
    <%= form.label :trimestre_acreditado %></br>
    <%= form.text_field :trimestre_acreditado %>
  </div>

  <div class="field form-group">
    <%= form.label :ultimo_periodo_cursado %></br>
    <%= form.text_field :ultimo_periodo_cursado %>
  </div>

  <div class="field form-group">
    <%= form.label :fecha_entrada %></br>
    <%= form.text_field :fecha_entrada %>
  </div>

  <div class="field form-group">
    <%= form.label :fecha_graduacion_planeada %></br>
    <%= form.text_field :fecha_graduacion_planeada %>
  </div>

  <div class="field form-group">
    <%= form.label :numero_cursos_cursados %></br>
    <%= form.text_field :numero_cursos_cursados %>
  </div>

  <div class="field form-group">
    <%= form.label :beca %></br>
    <%= form.text_field :beca %>
  </div>

  <div class="field form-group">
    <%= form.label :patrocinado %></br>
    <%= form.text_field :patrocinado %>
  </div>

  <div class="actions"></br>
    <%= form.submit %>
  </div>
<% end %>
