<%= form_with(model: subject_type) do |form| %>
  <% if subject_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject_type.errors.count, "error") %> prohibited this subject_type from being saved:</h2>

      <ul>
        <% subject_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name_subject_type %></br>
    <%= form.text_field :name_subject_type %>
  </div>

  <div class="actions"></br>
    <%= form.submit %>
  </div>
<% end %>
