<p id="notice"><%= notice %></p>

<p>
  <strong>Finalscore:</strong>
  <%= @student_subject_relation.finalscore %>
</p>

<p>
  <strong>Period:</strong>
  <%= @student_subject_relation.period %>
</p>

<p>
  <strong>Alumnos:</strong>
  <%= @student_subject_relation.alumnos_id %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @student_subject_relation.subjects_id %>
</p>

<%= link_to 'Edit', edit_student_subject_relation_path(@student_subject_relation) %> |
<%= link_to 'Back', student_subject_relations_path %>
