<%= form_with(model: scholarship) do |form| %>
  <% if scholarship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scholarship.errors.count, "error") %> prohibited this scholarship from being saved:</h2>

      <ul>
        <% scholarship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :beca_base %></br>
    <%= form.number_field :beca_base %>
  </div>

  <div class="field form-group">
    <%= form.label :nombre_beca %></br>
    <%= form.text_field :nombre_beca %>
  </div>

  <div class="actions"></br>
    <%= form.submit %>
  </div>
<% end %>
