<%= form_with model: scholarship do |form| %>
  <div>
    <%= form.label :Nombre_beca %><br>
    <%= form.text_field :nombre_beca %>
    <% scholarship.errors.full_messages_for(:nombre_beca).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :Beca_base %><br>
    <%= form.text_field :beca_base %>
    <% scholarship.errors.full_messages_for(:beca_base).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>