<p id="notice"><%= notice %></p>

<p>
  <strong>Beca base:</strong>
  <%= @scholarship.beca_base %>
</p>

<p>
  <strong>Nombre beca:</strong>
  <%= @scholarship.nombre_beca %>
</p>

<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
