<p id="notice"><%= notice %></p>

<h1>Student Subject Statuses</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Student subject relation</th>
      <th>Subject statuses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_subject_statuses.each do |student_subject_status| %>
      <tr>
        <td><%= student_subject_status.student_subject_relation_id %></td>
        <td><%= student_subject_status.subject_statuses_id %></td>
        <td><%= link_to 'Show', student_subject_status %></td>
        <td><%= link_to 'Edit', edit_student_subject_status_path(student_subject_status) %></td>
        <td><%= link_to 'Destroy', student_subject_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Subject Status', new_student_subject_status_path %>
