<%= form_with(model: universitary_center) do |form| %>
  <% if universitary_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(universitary_center.errors.count, "error") %> prohibited this universitary_center from being saved:</h2>

      <ul>
        <% universitary_center.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :universitary_center_name %></br>
    <%= form.text_field :universitary_center_name %>
  </div>

  <div class="field form-group">
    <%= form.label :sede_id %></br>
    <%= form.number_field :sede_id %>
  </div>

  <div class="actions"></br>
    <%= form.submit %>
  </div>
<% end %>
