<p id="notice"><%= notice %></p>

<h1>Student Statuses</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Status name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_statuses.each do |student_status| %>
      <tr>
        <td><%= student_status.status_name %></td>
        <td><%= link_to 'Show', student_status %></td>
        <td><%= link_to 'Edit', edit_student_status_path(student_status) %></td>
        <td><%= link_to 'Destroy', student_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Status', new_student_status_path %>
