<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_key %>
    <%= form.text_field :class_key %>
  </div>

  <div class="field">
    <%= form.label :duration_of_weeks %>
    <%= form.number_field :duration_of_weeks %>
  </div>

  <div class="field">
    <%= form.label :classname %>
    <%= form.text_field :classname %>
  </div>

  <div class="field">
    <%= form.label :subject_type_id %>
    <%= form.number_field :subject_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
