<%= form_with(model: academic_program) do |form| %>
  <% if academic_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(academic_program.errors.count, "error") %> prohibited this academic_program from being saved:</h2>

      <ul>
        <% academic_program.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name_academic_program %></br>
    <%= form.text_field :name_academic_program %>
  </div>

  <div class="actions"></br>
    <%= form.submit %>
  </div>
<% end %>
